<div class="pop-up">
    <div id="small-dialog2" class="mfp-hide book-form">

        <div class="login-form login-form-left">
            <div class="agile-row">
                <h3>Kayıt Sayfası</h3>
                <div class="login-agileits-top">
                    <form action="#" method="post">
                        <input type="text" class="name" name="CarilerAd" Placeholder="Adınız" required="" />
                        <input type="text" class="name" name="CarilerSoyad" Placeholder="Soy Adınız" required="" />
                        <input type="text" class="name" name="CarilerSehir" Placeholder="Şehir" required="" />
                        <input type="email" class="mail" name="CarilMail" Placeholder="Mail" required="" />
                        <input type="password" class="password" name="CariSifre" Placeholder="Password" required="" />

                        <div class="login-check">
                            <label class="checkbox"><input type="checkbox" name="checkbox" checked=""><i> </i> Kurralları Okudum <a href="#">Kabul &amp; Ediyorum</a></label>
                        </div>
                        <input type="submit" value="Register">
                    </form>
                </div>
            </div>
        </div>

    </div>
</div>